@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: bold;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: medium;
}

body {
    font-family: 'Gilroy';
}

.container {
	width: 940px;
	margin: 0 auto;
}

.menu {
	border-bottom: 1px solid #828282;	
}

.menu > ul {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 40px;
}

.menu-link {
	text-decoration: none;
	color: #828282;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.who-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 36px 0 54px;
}

.name {
	font-family: 'Khula', sans-serif;
	font-size: 48px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
    line-height: 59px;
    color: #070707;
}

.specialisation {
	font-family: 'Khula', sans-serif;
	font-size: 18px;
    line-height: 22px;
    color: #070707;
	padding-bottom: 11px;
}

.languages {
	transform: rotate(-90deg);
	/* margin-left: 11px; */
	/* display: flex; */
}

.language-box {
	margin-bottom: 30px;
}
.languages > li {
	display: inline-block;
}

.lang-link {
	text-decoration: none;
	color: black;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
}

.ru {
	color: #828282;
}
.denis-photo {
	width: 100%;
	margin-bottom: 80px;
}


.about-me {
	text-align: center;
	background: #F6F6F6;
}

.section-title {
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
	color: #070707;
	padding-top: 120px;
}

.text {
	margin-top: 20px;
}
.text-about {
	width: 485px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	margin-bottom: 30px;
}

.last {
	padding-bottom: 110px;
	margin-bottom: 0;
}

.skills {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}

.skills-text {
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	margin-top: 70px;
	margin-bottom: 80px;
}

.skills-items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
}

.skills-items div:nth-child(4) {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skill-title {
	margin: 25px auto 40px auto; 
	color: #828282;
}

.portfolio {
	background: #f6f6f6;
}
.portfolio-box {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}

.portfolio-item-link {
	margin-top: 50px;
	margin-bottom: 100px;
	text-decoration: none;

}
.portfolio-img {
	width: 100%;
}

.portfolio-item-title {
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	margin-top: 45px;
	text-decoration: underline;
}

