body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.head {
	background: url('../img/bg.jpg') no-repeat center;
	background-size: 105%;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.header-logo {
	width: 100px;
	margin-top: 40px;
	margin-bottom: 300px;
}

.header-title {
	font-size: 50px;
	font-weight: 400;
	line-height: 70px;
	color: white;
	letter-spacing: 5px;
}

.company-describtion {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: white;
	margin-bottom: 230px;
	margin-top: 20px;
}

.scroll-down-btn {
	color: white;
	margin-bottom: 70px;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
}

.menu-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-black {
	width: 80px;
	margin: 24px 0;
}

.nav {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}
.nav-items {
	display: inline;
}

.nav-link {
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #171819;
	cursor: pointer;
}

.nav-link:hover {
	color: #00a4e5;
	font-weight: 700;
}

.menu {
	border-bottom: 2px solid #e6e6e6;
}
