body {
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    background-color: #0D0D2B;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto;
}

.logo-link > svg {
    margin-right: 16px;
}

.logo-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 56px;
}

.nav-item {
    padding-right: 32px;
}

.nav-item:nth-child(4) {
    padding-right: 0;
}

.nav-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.nav-link:hover {
    color: #3671E9;
}

.login-btn {
    border-right: 1px solid #f2f2f281;
    outline: none;
}

.login {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-right: 24px;
}

.register-btn {
    background:#3671E9;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    margin-left: 24px;
    outline: none;
}

.register-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 14px 32px;
    color: white;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 6;
}

.sale {
    display: flex;
    width: fit-content;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    align-items: center;
    margin-bottom: 24px;
}

.percents {
    background: #FFFFFF;
    border-radius: 32px;
    margin: 4px 16px 4px 4px;
}

.percents-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 4px 16px;
}

.black-friday {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 14px;
}

.main-offer {
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: white;
}

.offer-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #e0e0e0;
    padding-top: 24px;
    padding-bottom: 32px;
}

.info-box-btn {
    background: #3671E9;
    border: none;
    border-radius: 32px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.header-btn-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: white;
    margin: 18px 72px 18px 24px;
}

.info-box-btn > svg {
    padding: 11px 11px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
}
.header-img {
    margin-top: 50px;
    margin-bottom: 101px;
    z-index: 5;
}

.header-line-decoration {
    position: absolute;
    left: 0;
    bottom: -30%;
    z-index: 1;
    opacity: 4%;
    background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
}

.header-line-decoration-2 {
    position: absolute;
    bottom: -34%;
    z-index: 1;
    opacity: 3%;
    background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
    right: -20%;
}

.results {
    background: #0D0D2B;
}

.results-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 112px;
}

.result-item {
    display: flex;
    align-items: flex-end;
}

.res-icon {
    margin-right: 24px;
}
.res-text-box {
    display: flex;
    flex-direction: column;
}

.res-number {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    color: white;
}

.res-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #e0e0e0;
}

.more-about-section {
    background: #0D0D2B;
    position: relative;
}

.more-about-section > svg{
    position: absolute;
    top: -5%;
    right: 0%;
    opacity: 3%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.08) 24.01%, rgba(53, 6, 140, 0.01) 71.35%);
}

.dens {
    position: absolute;
    top: 70% !important;
    right: 0% !important;
    opacity: 3%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.08) 26.97%, rgba(255, 255, 255, 0) 71.35%);
}

.more-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-about > svg {
    margin-bottom: 100px;

}
.more-about-text {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.why {
    margin-bottom: 24px;
}

.section-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}

.why-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #E0E0E0;
}

.why-btn {
    background: #3671E9;
    border: none;
    color: white;
    border-radius: 32px;
    padding: 16px 24px;
    width: fit-content;
    cursor: pointer;
    outline: none;
    margin-top: 32px;
}

.first-form-section {
    background: #0d0d2b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ff-title {
    margin: 100px auto 24px;
}

.ff-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #E0E0E0;
    text-align: center;
}

.form-box {
    width: 940px !important;
    margin: 64px auto 0;
    background: #FBFCFE;
    border-radius: 16px 16px 0px 0px;
}

.first-white-section {
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
}

.amount-box {
    width: 940px;
    margin: 0 auto 100px;
    background: #FFFFFF;
    /* box-shadow: 0px 80px 40px #391777; */
    border-radius: 0px 0px 16px 16px;
    height: fit-content;
}

.tf-hours {
    margin: 48px auto 16px 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3671E9;
}

.calk-number {
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: #0D0D2B;
    margin-left: 48px;
}

.baks {
    color: #3671E9;
}

.notice {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #828282;
    margin: 4px auto 48px 48px !important;
}


