body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: #007654 2px solid;
  width: 700px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(150.66deg, #A1FFCE 0.37%, #FAFFD1 99.64%);
}

.logo {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.screen {
  border: #007654 4px solid;
  width: 300px;
  background: #ECFEFF;
  border-radius: 15px;
}

.first-screen {
  display: block;
  margin: 10px auto 10px 10px;
  font-weight: 500;
  
}

.second-screen {
  display: block;
  margin: 10px auto 10px 10px;
  font-weight: 500;
}

.coffee-menu-bar {
  border: #007654 4px solid;
  border-radius: 15px;
  width: 550px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: whitesmoke;
}

.coffee-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #007654 2px solid;
  border-radius: 15px;
  width: calc(50% - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.coffee-item > label {
  color: #007654;
  font-weight: 700;
}

.coffee-name {
  margin: 15px;
}

.btn {
  background-color: #007654;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
}

.money-bar {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.withdrawal {
  width: 200px;
  height: 115px;
  border: #007654 2px solid;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.withdrawalimg {
  margin: 10px;
  width: 70px;
  visibility: hidden;
}

.withdrawal-text {
  color: #007654;
  font-weight: 300;
  margin-bottom: 10px;
}

.money-receiver {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#money-input {
  width: 100px;
  border: #007654 2px solid;
  border-radius: 15px;
}

.input-btn {
  border: #007654 2px solid;
  border-radius: 15px;
  background: #fff;
  margin-left: 10px;
}

.currency {
  margin-right: 10px;
  color: #007654;
}